version: "3"

networks:
  spark-net:
    driver: bridge

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    networks:
      - spark-net
    ports:
      - "80:9870"
      - "9000:9000"
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env
    volumes:
      - hadoop_namenode:/hadoop/dfs/name   


  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    networks:
      - spark-net
    env_file:
      - ./hadoop.env
    volumes:
      - hadoop_datanode:/hadoop/dfs/data   

  spark-master:
    image: bde2020/spark-master:3.1.1-hadoop3.2
    container_name: spark-master
    networks:
      - spark-net
    ports:
      - "8080:8080"
      - "7077:7077"

  spark-worker-1:
    image: bde2020/spark-worker:3.1.1-hadoop3.2
    container_name: spark-worker-1
    depends_on:
      - spark-master
    networks:
      - spark-net
    ports:
      - "8081:8081"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g

  spark-worker-2:
    image: bde2020/spark-worker:3.1.1-hadoop3.2
    container_name: spark-worker-2
    depends_on:
      - spark-master
    networks:
      - spark-net
    ports:
      - "8082:8082"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g

  jupyter-notebook:
    container_name: jupyternb
    hostname: jupyternb
    image: jupyter/pyspark-notebook:spark-3.1.1
    networks:
      - spark-net
    user: root
    ports:
      - "8888:8888"
    volumes:
      - ./individual_project:/home/jovyan/work/individual_project
    command: >
      bash -c "pip install seaborn &&
      start-notebook.sh --ip=0.0.0.0 --allow-root --NotebookApp.token=''"

volumes:
  hadoop_namenode:
  hadoop_datanode:


